body {
  font-family: "Comic Neue", "Patrick Hand", cursive;
  background-color: #fdfcf5;
  color: #222222;
}

header {
  background-color: #fff7e6;
  text-align: center;
  padding: 25px;
  font-size: 2rem;
  color: #2d2d2d;
  box-shadow: 0 2px 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  min-height: 70vh;
  padding: 10px;
}

button {
  background-color: #a7c7e7;
  color: #1e385a;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
}

button:hover {
  background-color: #9fbbd6;
}

footer {
  background-color: #c5af80;
  color: #0c0c0c;
  text-align: center;
  padding: 15px;
  font-style: italic;
}
